{% extends 'base.html'%}

{% block content%}
<div class="container-fluid container">

    <div class="row">
        <div class="col-sm-4">
            <img src="{{review.image_path}}" class="img-responsive">
        </div>

        <div class="col-sm-8">
            <h3><b>{{review.movie_title}}</b></h3>
            <p>{{format_review|safe}}</p>
            <p>Posted: <i>{{review.posted.strftime('%Y-%m-%d')}} at {{review.posted.strftime('%H:%m')}}</i> by <b><i>{{username}}.</i></b></p>
        </div>
    </div>
</div>
{%endblock%}